useDynLib(gruph)

# imports
importFrom(Rcpp, evalCpp)
import(ggplot2)

# exports
export('cinit')
export('dinit')
export('minit')
export('dminit')
export('dginit')

export('fl_dginit')
export('fl_linear')

export('sim_gene_data')
export('sim_discrete_data')

export('max_forest')
export('weights')
export('dfs')
export('weight_plot')
export('calc_pval')
