useDynLib(gruph)

# imports
importFrom(Rcpp, evalCpp)
import(ggplot2)

# exports
export('cinit')
export('dinit')
export('minit')
export('dminit')
export('dginit')

export('chunk_add_edges')

export('max_forest')
export('weights')
export('dfs')
export('weight_plot')
export('calc_pval')
